.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 100px;
  line-height: 1.2;
  text-transform: uppercase;
}
.subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.8;
  color: var(--foreground-color-secondary);
}
.description {
  margin: 50px 0px;
  line-height: var(--paragraph-line-height);
}
.socialIcons {
  display: flex;
  gap: 20px;
}
.socialIcon {
  height: 31px;
  width: auto;
  cursor: pointer;
}
.form {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nameInputContainer {
  display: flex;
  gap: 15px;
}
.input {
  height: 50px;
  resize: none;
  outline: none;
  background: var(--background-color);
  border: 1px solid var(--foreground-color-primary);
  padding: 10px;
  font-size: 15px;
  color: var(--foreground-color-primary);
  &::placeholder {
    text-transform: uppercase;
  }
}
.nameInput {
  width: 50%;
}
.messageInput {
  height: 250px;
}
.formBtn {
  height: 50px;
  width: 125px;
  border: none;
  background: var(--foreground-color-primary);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}
.bgDecal {
  right: 0px;
  top: 30%;
}
@media screen and (max-width: 1920px) {
  .title {
    font-size: clamp(75px, 5.3vw, 100px);
  }
  .subtitle {
    font-size: clamp(25px, 1.6vw, 30px);
  }
  .description {
    margin: clamp(40px, 2.6vw, 50px) 0px;
  }
  .form {
    width: clamp(340px, 19.3vw, 370px);
    gap: clamp(10px, 0.8vw, 15px);
  }
  .nameInputContainer {
    gap: clamp(10px, 0.8vw, 15px);
  }
  .messageInput {
    height: clamp(230px, 13.1vw, 250px);
  }
  .formBtn {
    width: clamp(110px, 6.5vw, 125px);
  }
}
@media screen and (max-width: 1280px) {
  .main {
    flex-direction: column;
    gap: var(--section-margin);
  }
  .textContainer {
    text-align: center;
  }
  .socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(15px, 1.6vw, 20px);
  }
  .socialIcon {
    height: clamp(28px, 2.5vw, 31px);
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: clamp(57px, 5.9vw, 75px);
  }
  .subtitle {
    font-size: var(--fs-subsection-subtitle);
    display: block;
    margin-top: -1px;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: clamp(50px, 9.6vw, 57px);
    line-height: 1;
  }
  .subtitle {
    margin-top: 10px;
  }
  .description {
    font-size: clamp(15px, 2.7vw, 16px);
  }
  .form {
    width: clamp(300px, 56.7vw, 340px);
  }
  .input {
    height: clamp(47px, 8.4vw, 50px);
    font-size: clamp(14px, 2.5vw, 15px);
  }
  .messageInput {
    height: 230px;
  }
  .formBtn {
    height: clamp(47px, 8.4vw, 50px);
    font-size: clamp(14px, 2.5vw, 15px);
  }
}
