.main {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 1920px) {
  .main {
    margin-bottom: clamp(15px, 0.9vw, 20px);
  }
}
@media screen and (max-width: 1280px) {
  .main {
    font-size: clamp(15px, 1.3vw, 16px);
  }
}
