.main {
  width: 100%;
  height: 100vh;
  padding: var(--body-padding);
  display: flex;
  flex-direction: column;
  min-height: 800px;
  position: relative;
}
.title {
  font-size: 240px;
  display: flex;
  flex-direction: column;
  line-height: 0.75;
  font-weight: 700;
}
.profession {
  margin-top: 25px;
  font-size: 78px;
  line-height: 0.9;
  text-transform: uppercase;
}
.aboutContainer {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
}
.description {
  margin: 60px 0px;
  width: 550px;
  font-size: 16px;
  line-height: var(--paragraph-line-height);
}
.socials {
  display: flex;
  gap: 20px;
  align-items: center;
}
.social {
  display: flex;
  gap: 10px;
  align-items: center;
}
.socialResume {
  margin-left: 25px;
  cursor: pointer;
}
.socialIcon {
  height: 31px;
  cursor: pointer;
  width: auto;
}
.resumeIcon {
  height: 40px;
}
.nav {
  text-align: end;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.navTitle {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--foreground-color-secondary);
  margin-bottom: 25px;
  line-height: 0.7;
}
.navTitleLine {
  width: 30px;
  height: 3px;
  background: var(--foreground-color-secondary);
}
.navList {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.navItem {
  font-size: var(--fs-section-title);
  text-transform: uppercase;
  line-height: 0.74;
  font-weight: 700;
  overflow: hidden;
  user-select: none;
}
.exploreIcon {
  position: absolute;
  bottom: var(--body-padding);
  left: var(--body-padding);
  cursor: pointer;
  width: 13px;
  animation-name: jump;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.bgDecal {
  overflow: hidden;
  left: 0px;
  transform: rotate(180deg) translateY(60%);
  top: 50%;
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(25%);
  }
}

@media screen and (max-width: 1920px) {
  .main {
    min-height: clamp(720px, 42vw, 800px);
  }
  .title {
    font-size: clamp(200px, 12.5vw, 240px);
  }
  .profession {
    margin-top: clamp(17px, 1.3vw, 25px);
    font-size: clamp(64px, 4.1vw, 78px);
  }
  .description {
    margin: clamp(40px, 3.2vw, 60px) 0px;
    width: clamp(510px, 29vw, 550px);
  }
  .socialResume {
    margin-left: clamp(20px, 1.3vw, 25px);
  }
  .navTitle {
    gap: clamp(10px, 0.8vw, 15px);
    font-size: clamp(25px, 1.6vw, 30px);
  }
  .navTitleLine {
    width: clamp(25px, 1.6vw, 30px);
  }
  .navList {
    gap: clamp(20px, 1.3vw, 25px);
  }
  .exploreIcon {
    width: clamp(12px, 0.7vw, 13px);
  }
}
@media screen and (max-width: 1280px) {
  .main {
    height: 100%;
    min-height: 100vh;
  }
  .aboutContainer {
    flex-direction: column;
  }
  .title {
    font-size: clamp(90px, 14.8vw, 200px);
  }
  .profession {
    margin-top: clamp(14px, 1.4vw, 17px);
    font-size: clamp(37px, 5vw, 64px);
  }
  .description {
    width: clamp(500px, 43vw, 550px);
    font-size: clamp(15px, 1.3vw, 16px);
  }
  .socialResume {
    font-size: clamp(15px, 1.3vw, 16px);
    margin-left: clamp(10px, 1.6vw, 20px);
  }
  .navTitle {
    font-size: clamp(22px, 2vw, 25px);
    margin-bottom: clamp(18px, 2vw, 25px);
  }
  .navTitleLine {
    width: clamp(20px, 2vw, 25px);
    height: clamp(2px, 0.3vw, 3px);
  }
  .navList {
    gap: clamp(15px, 1.6vw, 20px);
  }
  .exploreIcon {
    width: clamp(11px, 1vw, 12px);
  }
  .socials {
    gap: clamp(15px, 1.6vw, 20px);
  }
  .socialIcon {
    height: clamp(28px, 2.5vw, 31px);
  }
  .resumeIcon {
    height: clamp(35px, 3.2vw, 40px);
  }
}
@media screen and (max-width: 500px) {
  .description {
    width: 100%;
  }
}
