.main {
  padding: var(--section-margin) var(--section-padding) 0px var(--section-padding);
  position: relative;
}
.header {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.title {
  font-size: var(--fs-section-title);
  line-height: 0.7;
}
.subtitle {
  font-size: var(--fs-section-subtitle);
  line-height: 1;
  text-align: center;
  color: var(--foreground-color-secondary);
}
.content {
  margin-top: var(--section-margin);
}
@media screen and (max-width: 1920px) {
  .header {
    gap: clamp(20px, 1.3vw, 25px);
  }
}
@media screen and (max-width: 1280px) {
  .header {
    gap: clamp(18px, 1.6vw, 20px);
  }
}
