:root {
  --background-color: #0b0b0b;
  --foreground-color-primary: #fff;
  --foreground-color-secondary: grey;
  --body-padding: 60px;
  --fs-section-title: 150px;
  --fs-section-subtitle: 30px;
  --fs-subsection-title: 70px;
  --fs-subsection-subtitle: 20px;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--foreground-color-primary);
  font-weight: 300;
  input,
  button {
    font-family: inherit;
    font-weight: inherit;
  }
  svg {
    width: 30px;
    height: 30px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul,
  ol {
    list-style-type: none;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background: #161616;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--foreground-color-primary);
  }
}
