:root {
  --body-color: #0b0b0b;
  --font-color-primary: #fff;
  --font-color-secondary: grey;
  --body-padding: 60px;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: var(--body-color);
  color: var(--font-color-primary);
  font-weight: 300;
  input,
  button {
    font-family: inherit;
    font-weight: inherit;
  }
  svg {
    width: 30px;
    height: 30px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul,
  ol {
    list-style-type: none;
  }
}
