.main {
  margin: var(--section-margin) 0px;
  padding: 0px calc(3 * var(--body-padding));
}
.header {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.title {
  font-size: var(--fs-section-title);
  line-height: 0.7;
}
.subtitle {
  line-height: 0.7;
  font-size: var(--fs-section-subtitle);
  color: var(--foreground-color-secondary);
}
.content {
  margin-top: var(--section-margin);
}
